.App {
  width: 1024px;
  margin: 0 auto;
  font-family: 'Noto Sans', sans-serif;
}

a {
  color: rgba(80, 112, 176);
  text-decoration: none;
}

a:hover {
  color: rgba(32, 64, 96);
}

hr {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 0;
}

.content-nav {
  text-align: center;
  font-size: 1.25em;
}

.content-nav li {
  display: inline;
  padding: 0 48px calc(1em - 2px);
}

.content-nav-highlight {
  font-weight: bold;
  border-bottom: 2px solid;
}

.profile-container {
  display: flex;
}

.profile-container ul {
  list-style-type: none;
}

.profile-container li {
  margin: 0 48px;
}

.profile-container-right {
  padding-top: 2em;
}

.profile-name {
  height: 48px;
}

.profile-name input {
  font-size: 2em;
  font-weight: bold;
}

.profile-dan {
  font-size: 1.25em;
}

.profile-rating {
  font-size: 1.25em;
}

.profile-total-games {
  font-size: 1.25em;
}

.nav-bar-separator {
  margin-bottom: 48px;
}

.overview-graphs-container {
  display: flex;
  justify-content: center;
}

.overview-graphs-element {
  width: 288px;
  text-align: center;
  padding: 0 16px;
}

.overview-graphs-title {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.overview-graphs-footer {
  font-size: 1em;
  margin: 0.5em 0;
}

.overview-other-container {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.overview-other-title {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 1em;
}

.overview-match-history {
  width: 720px;
  padding: 0 16px;
}

.overview-match-history > table {
  border-spacing: 0 4px;
  width: 100%
}

.overview-match-history td {
  text-align: center;
}

.overview-match-history tr:nth-child(even) {
  background-color: rgba(240, 240, 240);
}

.overview-misc {
  width: 240px;
  padding: 0 16px;
}

.overview-stats {
  margin-bottom: 1em;
}

.overview-stats > table {
  width: 100%;
}

.overview-highlights {
  margin-bottom: 1em;
}

.overview-highlights > table {
  width: 100%;
}

.overview-highlights-value {
  text-align: right;
}

.overview-match-history-placement {
  font-size: 1.25em;
  font-weight: bold;
}

.overview-match-history-plus-pt-swing {
  color: rgb(32, 128, 64);
}

.overview-match-history-minus-pt-swing {
  color: rgb(224, 64, 64);
  font-weight: bold;
}

.overview-match-history > table ul { 
  list-style-type: none;
  padding: 0;
}

.overview-match-history > table li {
  height: 1.25em;
}